.App {
  display: flex;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #000;
  background-color: #FFF;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

small {
  font-size: 14px;
}

.content {
  flex: 1;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content > * {
  margin-bottom: 10px;
}

.content > button {
  width: 100%;
}

button {
  font-size: 20px;
}

button.change-provider {
  background-color: lightpink;
}
